/*-------------------------- Body Main --------------------------*/
main{
    background-color: map-get($map: $standard, $key: color);
    height: auto;
    margin-top: 30px;
}
/*------------------- Index -------------------*/
.gridMainIndex{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    .carousel{
        .carousel-inner{
            .carousel-item{
                .imgText{
                    color: map-get($map: $standard, $key: text);
                    text-align: center;
                    .imgPresentacion{
                        margin: 0 auto;
                        border: 3px solid map-get($map: $color, $key: secondary-color);
                    } 
                }
            }
        }
    }
    .emergenciaMain{
        @extend %emergency;
        .pEmergencia{
            @extend %emergency-text;
        }
    }
    .buttonsMain{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px;
        .hMain{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: map-get($map: $color, $key: secondary-color);
            height: 100px;
            border: 1px solid map-get($map: $standard, $key: color); 
            font-family: var(--bs-body-font-family);
            font-size: x-large;
            .aMain{
                text-decoration: none;
                color: map-get($map: $standard, $key: color);
                transition: 0.5s;
                &:hover{
                    transform: scale(1.3);
                }
            }
        }
    }
    .whyUs{
        margin: 20px;
        .whyUsTitle{
            text-align: center;
            font-family: var(--bs-body-font-family);
            font-size: x-large;
            font-weight: bold;
        }
        .whyUsParagraphs{
            margin-top: 20px;
            display: grid;
            grid-template-columns: auto auto auto;
            column-gap: 20px;
            text-align: center;
            div{
                .paragraphsTitle{
                    font-size: map-get($map: $standard, $key: font);
                    font-weight: bold;
                }
                .paragraphs{
                    font-family: map-get($map: $standard, $key: font-family);
                }
            }
        }
    }
    .schedule{
        @extend %schedule;
        h4{
            margin-top: 25px;
        }
    }
    .insurances{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25px 60px;
        row-gap: 10px;
        margin: 20px 0;
        text-align: center;
        font-family: var(--bs-body-font-family);
        font-size: large;
        .insurancesRow{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            column-gap: 20px;
            .ospe{
                height: 55px;
                width: 200px;
            }
            .sm{
                height: 40px;
                width: 200px;
            }
            .osde{
                height: 40px;
                width: 100px;
            }
            .lacaja{
                height: 40px;
                width: 155px;
            }
        }
    }    
}
/*------------------- Sacar Turno -------------------*/
.gridMainSacarTurno{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 100%;
    .schedule{
        @extend %schedule;
        h4{
            margin-top: 25px;
        }
    }
    .turnOdontologia{
        @extend %turnosRows;
        .divImgMain{
            @extend %div-img;
            .imgOdontologia{
                @extend %img;
            }
        }
        .formMain{
            @extend %form;
            .turnTitle{
                @extend %form-title;
            }
            div{
                .label{
                    @extend %form-label;
                }
            }
            div{
                .input{
                    @extend %form-input;
                }
                .submit{
                    @extend %form-submit;
                }
            }
        }
    }
    .turnPsicologia{
        @extend %turnosRows;
        border-top: solid 5px map-get($map: $color, $key: main-color);
        border-bottom: solid 5px map-get($map: $color, $key: main-color);
        .divImgMain{
            @extend %div-img;
            .imgPsicologia{
                @extend %img;
            }   
        }
        .formMain{
            @extend %form;
            .turnTitle{
                @extend %form-title;
            }
            div{
                .label{
                    @extend %form-label;
                }
            }
            div{
                .input{
                    @extend %form-input;
                }
                .submit{
                    @extend %form-submit;
                }
            }
        }
    }
    .turnNutricionista{
        @extend %turnosRows;
        border-bottom: solid 5px map-get($map: $color, $key: main-color);
        .divImgMain{
            @extend %div-img;
            .imgNutricionista{
                @extend %img;
            }   
        }
        .formMain{
            @extend %form;
            .turnTitle{
                @extend %form-title;
            }
            div{
                .label{
                    @extend %form-label;
                }
            }
            div{
                .input{
                    @extend %form-input;
                }
                .submit{
                    @extend %form-submit;
                }
            }
        }
    }
    .emergenciaMain{
        @extend %emergency;
        .pEmergencia{
            @extend %emergency-text;
        }
    }
}
/*------------------- Nosotros -------------------*/
.gridMainNosotros{
    .emergenciaMain{
        @extend %emergency;
        .pEmergencia{
            @extend %emergency-text;
        }
    }
    .divImgNosotros{
        display: flex;
        justify-content: center;
        margin: 10px;
        img{
            width: 900px;
            height: 600px;
        }
    }
    .pNosotros{
        margin: 40px 0 0 0;
        background-color: map-get($map: $color, $key: secondary-color);
        p{
            @extend %us;
            padding: 20px;
            color: map-get($map: $standard, $key: color);
        }
    }
    .mision_vision{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        .mision{
            @extend %us;
            .misionTitle{
                @extend %usTitles;
            }
        }
        .vision{
            @extend %us;
            .visionTitle{
                @extend %usTitles;
            }
        }      
    }
    .valoresList{
        .valoresTitle{
            @extend %usTitles;
        }
        ul{
           display: grid;
           grid-template-rows: auto auto auto auto;
           grid-template-columns: auto;
           justify-content: center;
        }
    }
}
/*------------------- Ubicacion -------------------*/
.gridMainMap{
    .schedule{
        @extend %schedule;
        h4{
            margin-top: 25px;
        }
    }
    .emergenciaMain{
        @extend %emergency;
        .pEmergencia{
            @extend %emergency-text;
        }
    }
    .pMap{
        margin: 30px 0;
        text-align: center;
        font-family: map-get($map: $standard, $key: font-family);
        font-size: map-get($map: $standard, $key: font);
    }
    div{
        .googleMap{
            height: 550px;
            margin-bottom: 30px;
        }
    }
}
/*------------------- Contacto -------------------*/
.gridMainContacto{
    margin-bottom: 50px;
    .schedule{
        @extend %schedule;
        h4{
            margin-top: 25px;
        }
    }
    .emergenciaMain{
        @extend %emergency;
        .pEmergencia{
            @extend %emergency-text;
        }
    }
    .formulario{
        height: 450px;
        border-top: 20px solid map-get($map: $color, $key: main-color);
        border-bottom: 20px solid map-get($map: $color, $key: main-color);
        display: flex;
        justify-content: center;
        align-items: center;
        .fieldsetMain{
            display: grid;
            grid-template-rows: auto auto auto auto auto;
            grid-template-columns: 100%;
            width: 400px;
            row-gap: 20px;
            div{
                .input{
                    width: 100%;
                    border: none;
                    border-bottom: solid 2px map-get($map: $standard, $key: text); 
                    height: 30px;
                }
                .msj{
                    height: 100px;
                    border: solid 2px map-get($map: $standard, $key: text);
                }
                .confirmar{
                    width: 100%;
                    border: solid 2px map-get($map: $standard, $key: text);
                    background-color: map-get($map: $standard, $key: color);
                    height: 30px;
                }
            }
        }
    }
}